___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [17]:
def lesser_of_two_evens(a,b):
    print('a % 2 == 0 and b % 2 == 0: {}'.format(a % 2 == 0 and b % 2 == 0))
    print('a <= b: {}'.format(a <= b))
    print('a >= b: {}'.format(a >= b))

    if a % 2 == 0 and b % 2 == 0:
        if a <= b:
            return a
        else:
            return b
    elif a >= b:

        return a
    else:
        return b

In [18]:
# Check
print(lesser_of_two_evens(2,4))

a % 2 == 0 and b % 2 == 0: True
a <= b: True
a >= b: False
2

In [19]:
# Check
print(lesser_of_two_evens(2,5))

a % 2 == 0 and b % 2 == 0: False
a <= b: True
a >= b: False
5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [20]:
def animal_crackers(text):
    words = text.split()

    if len(words) != 2:
        return False

    return words[0][0] == words[1][0]

In [21]:
# Check
animal_crackers('Levelheaded Llama')

True

In [22]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [23]:
def makes_twenty(n1,n2):
    return n1 == 20 or n2 == 20 or n1 + n2 == 20

In [24]:
# Check
makes_twenty(20,10)

True

In [25]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [28]:
def old_macdonald(name):
    return name.capitalize()[0] + name[1:3] + name[3:4].capitalize() + name[4:]

In [29]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [30]:
def master_yoda(text):
    return text.split()[::-1]

In [31]:
# Check
master_yoda('I am home')

['home', 'am', 'I']

In [32]:
# Check
master_yoda('We are ready')

['ready', 'are', 'We']

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [36]:
def almost_there(n):
    return (100 <= n + 10 < 110) or (100 >= n - 10 > 90) or (200 <= n + 10 < 210) or (200 >= n - 10 > 190)

In [37]:
# Check
almost_there(104)

True

In [38]:
# Check
almost_there(150)

False

In [41]:
# Check
print(almost_there(209))
print(almost_there(195))

True
True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [45]:
def has_33(nums):
    for i, n in enumerate(nums):
        if n == 3 and i+1 < len(nums) and nums[i+1] == 3:
            return True

    return False

In [46]:
# Check
has_33([1, 3, 3])

True

In [47]:
# Check
has_33([1, 3, 1, 3])

False

In [48]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [49]:
def paper_doll(text):
    s = ''
    for c in text:
        s += c*3

    return s

In [50]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [51]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [52]:
def blackjack(a,b,c):
    total = a+b+c
    hasEleven = a == 11 or b == 11 or c == 11

    if total <= 21:
        return total
    elif total > 21 and not hasEleven:
        return 'BUST'

    return total-10

In [53]:
# Check
blackjack(5,6,7)

18

In [54]:
# Check
blackjack(9,9,9)

'BUST'

In [55]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [70]:
def summer_69(arr):
    ignore = False
    sum = 0

    if len(arr) == 0:
        return sum

    for n in arr:
        print(f'n: {n}\n\tignore: {ignore}\n\tsum: {sum}')

        if n == 6:
            print('starting ignore')
            ignore = True
            continue
        elif n == 9:
            print('stopping ignore')
            ignore = False
            continue
        elif ignore:
            continue

        sum += n

    return sum

In [71]:
# Check
summer_69([1, 3, 5])

n: 1
	ignore: False
	sum: 0
n: 3
	ignore: False
	sum: 1
n: 5
	ignore: False
	sum: 4

9

In [72]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

n: 4
	ignore: False
	sum: 0
n: 5
	ignore: False
	sum: 4
n: 6
	ignore: False
	sum: 9
starting ignore
n: 7
	ignore: True
	sum: 9
n: 8
	ignore: True
	sum: 9
n: 9
	ignore: True
	sum: 9
stopping ignore

9

In [73]:
# Check
summer_69([2, 1, 6, 9, 11])

n: 2
	ignore: False
	sum: 0
n: 1
	ignore: False
	sum: 2
n: 6
	ignore: False
	sum: 3
starting ignore
n: 9
	ignore: True
	sum: 3
stopping ignore
n: 11
	ignore: False
	sum: 3

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [82]:
def spy_game(nums):
    for i, n in enumerate(nums):
        if n != 0:
            continue

        print(f'second candidates: {nums[i+1:]}')

        for j, m in enumerate(nums[i+1:]):
            if m != 0:
                continue

            print(f'third candidates: {nums[i+1:][j+1:]}')

            for k, x in enumerate(nums[i+1:][j+1:]):
                if x == 7:
                    return True

    return False

In [83]:
# Check
spy_game([1,2,4,0,0,7,5])

second candidates: [0, 7, 5]
third candidates: [7, 5]

True

In [84]:
# Check
spy_game([1,0,2,4,0,5,7])

second candidates: [2, 4, 0, 5, 7]
third candidates: [5, 7]

True

In [85]:
# Check
spy_game([1,7,2,0,4,5,0])

second candidates: [4, 5, 0]
third candidates: []
second candidates: []

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [96]:
def count_primes(num):
    count = 0

    if num <= 1:
        return 0

    for n in range(2, num):
        print(f'n = {n}')

        i = 2
        is_prime = True
        while i ** 2 <= n:
            print(f'\ti: {i}\n\ti^2: {i**2}')
            if n % i == 0:
                is_prime = False
                break
            i += 1

        if is_prime:
            count += 1

    return count

In [97]:
# Check
count_primes(100)

n = 2
n = 3
n = 4
	i: 2
	i^2: 4
n = 5
	i: 2
	i^2: 4
n = 6
	i: 2
	i^2: 4
n = 7
	i: 2
	i^2: 4
n = 8
	i: 2
	i^2: 4
n = 9
	i: 2
	i^2: 4
	i: 3
	i^2: 9
n = 10
	i: 2
	i^2: 4
n = 11
	i: 2
	i^2: 4
	i: 3
	i^2: 9
n = 12
	i: 2
	i^2: 4
n = 13
	i: 2
	i^2: 4
	i: 3
	i^2: 9
n = 14
	i: 2
	i^2: 4
n = 15
	i: 2
	i^2: 4
	i: 3
	i^2: 9
n = 16
	i: 2
	i^2: 4
n = 17
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
n = 18
	i: 2
	i^2: 4
n = 19
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
n = 20
	i: 2
	i^2: 4
n = 21
	i: 2
	i^2: 4
	i: 3
	i^2: 9
n = 22
	i: 2
	i^2: 4
n = 23
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
n = 24
	i: 2
	i^2: 4
n = 25
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
n = 26
	i: 2
	i^2: 4
n = 27
	i: 2
	i^2: 4
	i: 3
	i^2: 9
n = 28
	i: 2
	i^2: 4
n = 29
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
n = 30
	i: 2
	i^2: 4
n = 31
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
n = 32
	i: 2
	i^2: 4
n = 33
	i: 2
	i^2: 4
	i: 3
	i^2: 9
n = 34
	i: 2
	i^2: 4
n = 35
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
n = 36
	i: 2
	i^2: 4
n = 37
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
	i: 6
	i^2: 36
n = 38
	i: 2
	i^2: 4
n = 39
	i: 2
	i^2: 4
	i: 3
	i^2: 9
n = 40
	i: 2
	i^2: 4
n = 41
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
	i: 6
	i^2: 36
n = 42
	i: 2
	i^2: 4
n = 43
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
	i: 6
	i^2: 36
n = 44
	i: 2
	i^2: 4
n = 45
	i: 2
	i^2: 4
	i: 3
	i^2: 9
n = 46
	i: 2
	i^2: 4
n = 47
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
	i: 6
	i^2: 36
n = 48
	i: 2
	i^2: 4
n = 49
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
	i: 6
	i^2: 36
	i: 7
	i^2: 49
n = 50
	i: 2
	i^2: 4
n = 51
	i: 2
	i^2: 4
	i: 3
	i^2: 9
n = 52
	i: 2
	i^2: 4
n = 53
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
	i: 6
	i^2: 36
	i: 7
	i^2: 49
n = 54
	i: 2
	i^2: 4
n = 55
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
n = 56
	i: 2
	i^2: 4
n = 57
	i: 2
	i^2: 4
	i: 3
	i^2: 9
n = 58
	i: 2
	i^2: 4
n = 59
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
	i: 6
	i^2: 36
	i: 7
	i^2: 49
n = 60
	i: 2
	i^2: 4
n = 61
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
	i: 6
	i^2: 36
	i: 7
	i^2: 49
n = 62
	i: 2
	i^2: 4
n = 63
	i: 2
	i^2: 4
	i: 3
	i^2: 9
n = 64
	i: 2
	i^2: 4
n = 65
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
n = 66
	i: 2
	i^2: 4
n = 67
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
	i: 6
	i^2: 36
	i: 7
	i^2: 49
	i: 8
	i^2: 64
n = 68
	i: 2
	i^2: 4
n = 69
	i: 2
	i^2: 4
	i: 3
	i^2: 9
n = 70
	i: 2
	i^2: 4
n = 71
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
	i: 6
	i^2: 36
	i: 7
	i^2: 49
	i: 8
	i^2: 64
n = 72
	i: 2
	i^2: 4
n = 73
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
	i: 6
	i^2: 36
	i: 7
	i^2: 49
	i: 8
	i^2: 64
n = 74
	i: 2
	i^2: 4
n = 75
	i: 2
	i^2: 4
	i: 3
	i^2: 9
n = 76
	i: 2
	i^2: 4
n = 77
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
	i: 6
	i^2: 36
	i: 7
	i^2: 49
n = 78
	i: 2
	i^2: 4
n = 79
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
	i: 6
	i^2: 36
	i: 7
	i^2: 49
	i: 8
	i^2: 64
n = 80
	i: 2
	i^2: 4
n = 81
	i: 2
	i^2: 4
	i: 3
	i^2: 9
n = 82
	i: 2
	i^2: 4
n = 83
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
	i: 6
	i^2: 36
	i: 7
	i^2: 49
	i: 8
	i^2: 64
	i: 9
	i^2: 81
n = 84
	i: 2
	i^2: 4
n = 85
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
n = 86
	i: 2
	i^2: 4
n = 87
	i: 2
	i^2: 4
	i: 3
	i^2: 9
n = 88
	i: 2
	i^2: 4
n = 89
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
	i: 6
	i^2: 36
	i: 7
	i^2: 49
	i: 8
	i^2: 64
	i: 9
	i^2: 81
n = 90
	i: 2
	i^2: 4
n = 91
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
	i: 6
	i^2: 36
	i: 7
	i^2: 49
n = 92
	i: 2
	i^2: 4
n = 93
	i: 2
	i^2: 4
	i: 3
	i^2: 9
n = 94
	i: 2
	i^2: 4
n = 95
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
n = 96
	i: 2
	i^2: 4
n = 97
	i: 2
	i^2: 4
	i: 3
	i^2: 9
	i: 4
	i^2: 16
	i: 5
	i^2: 25
	i: 6
	i^2: 36
	i: 7
	i^2: 49
	i: 8
	i^2: 64
	i: 9
	i^2: 81
n = 98
	i: 2
	i^2: 4
n = 99
	i: 2
	i^2: 4
	i: 3
	i^2: 9

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!